* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-image: url("laptop.jpg");
  background-attachment: fixed;
}

p,b,h1{
  min-width: 5px;
}

span {
  color: #bdbdbd;
}
span:hover {
  color: rgb(2, 212, 99);
}

.fas,.fab,.far {
  color: rgb(2, 212, 99);5
}

.top{
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.top .logo{
  padding: 5%;
  font-size: 1.2rem;
  font-weight: 900;
}

.top .nav{
  float: right;
  clear: both;
}

.nav ul {
  display: flex;
  float: right;
  clear: left;
}
.nav ul li {
  margin: 30px 10px;
  list-style-type: none;
  padding: 10px 15px;
  font-size: 1.3rem;
  font-weight: 900;
  border: none;
  border-radius: 5px;
}
.nav ul li a {
  text-decoration: none;
}
.nav a:hover {
  color: #02d463;
}

#selected {
  border: 2px solid#02D463;
  padding: 13px 25px;
  margin-right: 40px;
  color: #02d463;
}
#selected:hover {
  background-color: #02d463;
  color: #ffffff;
}

/*--------------- Section 1 -------------- */

.sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 9%;
  min-width: 100%;
}
.sec1 .left {
  padding-left: 15%;
  padding-top: 7%;
  margin: 0;
  width: fit-content;
}

.sec1 .right {
  width: fit-content;
  padding: 5%;
}
.right h1{
  transform: translateX(-6%);
  
}
.show-case {
  margin-top: 2%;
}

.show-case img {
  background-color: #02d463;
  padding: 2px;
  margin: 3px 1px;
  transition-property: width;
  transition-duration: 0.5s;
}

.show-case img:hover {
  width: 265px;
}

.btn {
  box-sizing: border-box;
  background-color: #02d463;
  border: none;
  padding: 2.4% 2.8%;
  color: #ffffff;
  font-size: 17px;
  font-weight: 900;
  border-radius: 3px;
}

.btn:hover {
  border: 2px solid#02D463;
  background-color: transparent;
  color: #02d463;
}
/* ------------------ Sec2 (ABOUT)----------------- */

.about {
  grid-area: about;
}
.tech-used {
  grid-area: tech-used;
}
.partners {
  grid-area: partners;
  margin: 7%;
  display: flex;
}
.title {
  grid-area: title;
}
.imgbox{
  grid-area: imgbox;
  display: flex;
  text-align: center;
  justify-content: center;
}
.heading{
  grid-area: heading;
}
.Sandyy {
  grid-area: Sandyy;
}
.Mendyy {
  grid-area: Mendyy;
}
.quotes {
  grid-area: quotes;
}

.sec2 {
  background-color: rgb(26, 26, 26);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto-fill);
  grid-template-areas: 
  "about partners"
  "tech-used partners";
  padding: 4% 5%;
}

.partners {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  justify-self: center;
  display: grid;
  grid-template-areas: 
  "heading heading"
  "imgbox imgbox"
  "quotes quotes";
  box-sizing: border-box;
    grid-row: span 2;
}

.partners img {
  border-radius: 5px;
  box-shadow: rgb(0 0 0) 0px 0px 20px;
  margin: 10px;
}
.partners img:hover {
  width: 251px;
}


.tech-used {
  grid-area: tech-used;
  display: flex;
}

.tech-used li {
  list-style-type: none;
}

.tech-used .l {
  padding: 20px;
  margin: 0px;
}

.tech-used .r {
  padding: 20px;
  margin: 0px;
}


/* ----------Plans----------- */
.plans ul li {
  list-style-type: none;
}
.plans {
  margin: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
.plans-wrapper {
  padding: 3%;
  min-width: 100%;
  background-color: #111111;
  height: fit-content;
}
.columns {
  padding: 5%;
  background-color: #1a1a1a;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.button {
  padding: 10% 45%;
  background-color: #02d463;
  border-radius: 5px;
}
.button:hover {
  border: 2px solid#02D463;
  background-color: transparent;
  color: #02d463;
}

/* ---------------Projects--------------- */

.project-wrapper {
  background-color: #1a1a1a;
  min-width: 100%;
  padding: 5%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
}

.projects img {
  margin: 5%;
  box-shadow: rgb(0 0 0) 0px 0px 20px;
}


/*-------------Contacts------------*/

.contact {
  min-width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  
  display: flex;
  flex-direction: column;
}
.hed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  min-width: fit-content;
}
.contact .txt {
  padding: 10% 10%;
  background-color: #1a1a1a;
  border: none;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
  border-radius: 5px;
  margin: 2%;
}
.contact .txt-area {
  background-color: #1a1a1a;
  border: none;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
}

.contact .txt:hover {
  border: 2px solid #02d463;
  color: #02d463;
}
.contact .txt-area:hover {
  border: 2px solid #02d463;
  color: #02d463;
}

.contact label {
  color: #bdbdbd;
  font-size: 1.5rem;
}
.t{
  display: flex;
  justify-content: space-between;
}
.t1,.t2,.ta1{
  display: flex;
  flex-direction: column;
}
.b{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
}
.sbt-btn {
  box-sizing: border-box;
  background-color: #02d463;
  border: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 900;
  border-radius: 3px;
  padding: 3% 10%;
}

.sbt-btn:hover {
  border: 2px solid#02D463;
  background-color: transparent;
  color: #02d463;
}



/* ---------Footer---------- */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: #111111;
  font-size: large;
  border-top: 1px solid rgb(33, 33, 33);
}

.footer i {
  margin: 5px;
  color: white;
}

.footer i:hover {
  color: #02d463;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {

  *{
    padding: 0%;
    margin: 0%;
  }
  .top,.sec1,.projects,.sec2{
    grid-template-columns: 1fr;
  }

  .plans,.t,.footer,.imgbox{
    flex-direction: column;
  }
  
  .sec2{
    grid-template-columns: repeat(3,auto-fill);
    grid-template-areas: 
    "about"
    "partners"
    "tech-used";
  }
  .nav{
    display: none;
  }
  .sec0{
    padding: 5%;
  }

  body{
    background-position-x:center;
    background-position-y: top;
    
    background-blend-mode: overlay;
    background-attachment: fixed;
  }
  .columns{
    box-sizing: border-box;
    padding: 15%;
    width: 95%;
    margin: 5%;
  }
  .show-case img{
    width: 50%;
  }
}